<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Sandwich Home</h1>

    <h3>Ingredients</h3>

    <ul>
        {% for ingredient in ingredients %}
        <li>
            <a href="{% url 'ingredients_list' ingredient %}">{{ingredient}}</a>
        </li>
        {% endfor %}
    </ul>

    <h3><a href="menu/">Sandwich Menu</a></h3>

    <p>Click the button if you are hungry!</p>
    <form action="{% url 'sandwich_generator' %}">
        <input type="submit" value="Make a sandwich!" />
    </form>
</body>

</html>